
body>main{
    padding: var(--gapLrg);
    max-width: 1400px;
    margin: auto;
}
body>main>header{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    gap: var(--gapLrg);
}
body>main>*+*{
    margin-top: var(--gapMed);
}
