
.shop-deroulant {
    position: relative;
}
.shop-deroulant div{
    position: absolute;
    background-color: var(--colorLight);
    padding: var(--padSml);
    opacity: 1;
    pointer-events: all;
    box-shadow: 3px 2px 3px grey;
    right: 0;
}
.shop-deroulant div>*+*{
    margin-top: var(--padSmlr);
}