
.book-modal{
    margin-top: 0;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    gap: var(--gapLrg);
    padding: var(--gapHuge);
    opacity: 1;
    background-color: rgba(14, 12, 12, 0.952);
    overflow-y: auto;
    z-index: 1;
}
.book-modal>div{
    display: flex;
    flex-flow: row;
    justify-content: end;
    align-items: start;
    margin: auto;
    max-width: 1400px;
}
.book-modal section div{
    border: 3px solid;
    border-color: var(--btnInset);
    padding: var(--gapSml);
    background-color: var(--colorLight);
}
.book-modal section div>*+*{
    margin-top: var(--gapSmlst);
}
.book-modal article{
    border: 5px solid;
    border-color: var(--btnOutset);
    flex: 6;
    display: flex;
    flex-flow: row wrap;
    align-items: start;
    gap: var(--gapHuge);
    padding: var(--gapLrg);
    height: auto;
    background-color: var(--colorMain);
}
.book-modal article>*{
    min-width: 300px;
    flex: 1;
}
.book-modal picture{
    border: 3px solid;
    border-color: var(--btnInset);
    max-width: max-content;
}
.book-modal img{
    display: block;
    width: 100%;
}
.book-modal h2,h3{
    font-weight: normal;
}
.book-modal h2{
    font-size: var(--fontMed);
}
.book-modal article>section>*+*{
    margin-top: var(--gapSml);
}

