
.panier-modal{
    position: relative;
}

.panier-modal>div{
    position: absolute;
    background-color: var(--colorLight);
    width: 300PX;
    padding: var(--gapSml);
    pointer-events: all;
    box-shadow: 3px 2px 3px grey;
    right: 0;
}
.panier-modal>div>div>div{
    display: flex;
    align-items: end;
    justify-content: space-between;
    gap: var(--gapSmlr);
}
.panier-modal>div>div>*{
    flex: 1;
}
.panier-modal div>*+*{
    margin-top: var(--gapSmlr);
}
.panier-modal img{
    cursor: pointer;
}