
.panier-modal{
    position: relative;
}
.panier-modal h4{
    font-size: var(--fontSml);
 }
 .panier-modal hgroup{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
 }
/* conteneur modal */
.panier-modal>div{
    position: absolute;
    width: 360px;
    gap: var(--gapSmlst);
    pointer-events: all;
    box-shadow: var(--shadowStd);
    border: 5px solid;
    border-color: var(--borderPanel);
    right: 0;
}
.panier-modal>div>header{
    padding: var(--gapSmlr);
    color: var(--colorLight);
    background: linear-gradient(to right, var(--accentMain), var(--colorSec));
}
.panier-modal>div>div{
    padding: var(--gapSmlr);
    background-color: var(--colorMain);
}
.panier-modal>div>div>*+*{
    margin-top: var(--gapSmlr);
}
.panier-modal>div>div>div>*+*{
    margin-top: var(--gapSmlst);
}
.panier-modal article{
    border: 1px solid;
    border-color: var(--btnInset);
    padding: var(--gapSmlst);
    background-color: var(--colorMain);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--gapMed);
}
.panier-modal article img{
    height: var(--fontSmlr);
    width: auto;
}
.panier-modal small{
    display: block;
}
.panier-modal span{
    font-size: var(--fontSmlst);
}
/*prix+poubelle*/
.panier-modal article div{
    display: flex;
    gap: var(--gapSmlst);
    flex-flow: row;
}
.panier-modal img{
    cursor: pointer;
}