
.pop-up{
    position: fixed;
    z-index: 2;
    bottom: var(--gapLrg);
    margin-left: auto;
    min-width: 200px;
    padding: var(--gapSml);
    border: 3px solid;
    color: var(--colorLight);
    box-shadow: var(--shadowStd);
    transition: opacity .5s;
}
.pop-up.invisible{
    transition: opacity 1s;
}
.pop-up.ajout{
    border-color: var(--panelSec);
    background-color: var(--accentSec);
}
.pop-up.ajout span::after{
    content: " a été ajouté au panier!";
}
.pop-up.supprime{
    border-color: var(--panelMain);
    background-color: var(--accentMain);
}
.pop-up.supprime span::after{
    content: " a été supprimé du panier!";
}