@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@400;500&family=Roboto:ital@0;1&family=Vollkorn:wght@400;600&display=swap');
:root{
    
    /* Palette couleurs config*/
    --confColorDark: rgb(7, 8, 6);
    --confColorLight: rgb(213, 218, 230);
    --confFont: monospace;


    /* Palette de couleurs */
    --colorDark: rgb(7, 8, 6);
    --colorShadow: rgba(7, 8, 6, 0.507);
    --colorMain: rgb(158, 161, 167);
    --colorSec: rgb(126, 127, 129);
    --colorLight: rgb(221, 226, 236);
    --colorSuccess: rgb(36, 185, 68);
    --colorKill: rgb(236, 44, 44);

    /* Taille de polices */
    --fontSml: 14px;
    --fontText: 18px;
    --fontMed: 24px;
    --fontLrg: 36px;
    --fontLrger: 48px;
    --fontLrgest: 96px;

    /* Police */
    --fontText: 'Roboto', sans-serif;
    --fontHead: 'Vollkorn', serif;
    --fontBtn: 'Assistant', monospace;

    /* Espacement */
    --gapSmlst: 5px;
    --gapSmlr: 10px;
    --gapSml: 15px;
    --gapMed: 20px;
    --gapLrg: 40px;
    --gapHuge: 80px;


    /* Effets */
    --borderPanel: rgb(211, 211, 211) rgb(88, 88, 88) rgb(24, 24, 24) rgb(182, 182, 182);
    --shadowStd: 2px 2px 2px var(--colorShadow);
    --btnOutset: rgb(211, 211, 211) rgb(88, 88, 88) rgb(24, 24, 24) rgb(182, 182, 182);
    --btnInset: rgb(24, 24, 24) rgb(182, 182, 182) rgb(211, 211, 211) rgb(88, 88, 88);

}