
.book-card {
    display: flex;
    flex-flow: column;
    gap: var(--gapSml);
    justify-content: space-between;
    box-shadow: var(--shadowStd);
    border: 5px solid;
    border-color: var(--borderPanel);
}
.book-card main{
    padding: var(--gapMed);
    background-color: var(--colorMain);
}
.book-card img{
    width: 100%;
    height: auto;
}
.book-card h3 {
    font-weight: normal;
}
.book-card div {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}
.book-card main>*+* {
    margin-top: var(--gapSmlr);
}