
.button-std {
    padding: 3px 7px;
    border: 2px solid ;
    border-color: var(--btnOutset);
    background-color: var(--colorLight);
}
.button-std:hover {
    cursor: pointer;
}
.button-std:active{
    border-color: var(--btnInset);
    background-color: var(--colorLight);
}