
.button-std {
    padding: 3px 7px;
    font-family: var(--fontBtn);
    font-weight: bold;
    border: 2px solid;
    border-color: var(--btnOutset);
    background-color: var(--colorMain);
}
.button-std:hover {
    cursor: pointer;
}
.button-std:active{
    border-color: var(--btnInset);
    background-color: var(--colorSec);
    transform: translateY(1px) translateX(1px);
}
