
.librairie-box{
    display: flex;
    flex-flow: row;
    gap: var(--gapMed);
}
.librairie-box aside{
    flex: 1;
    position: relative;
}
.librairie-box>div{
    flex: 3; 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: var(--gapLrg);
    column-gap: var(--gapMed);
}
