
.librairie-box{
    display: flex;
    flex-flow: row;
    gap: var(--gapMed);
}
.librairie-box aside{
    flex: 0 0 230px;
    padding: var(--gapMed);
}
.librairie-box>div{
    padding: var(--gapMed);
    flex: 5;
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    row-gap: var(--gapLrg);
    column-gap: var(--gapMed);
}
.librairie-box>div>*{
    max-width: 500px;
    flex: 1 0 300px;
}
