
.librairie-box{
    display: flex;
    flex-flow: row;
    gap: var(--gapMed);
}
.librairie-box aside{
    flex: 0 0 200px;
    padding: var(--gapMed);
}
.librairie-box>div{
    padding: var(--gapMed);
    flex: 4;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    row-gap: var(--gapLrg);
    column-gap: var(--gapMed);
}
.librairie-box>div>*{
    flex: 0 0 300px;
}
