
.panier-icon{
    padding: var(--gapSmlst);
    background: var(--colorMain);
    border: 2px solid;
    border-color: var(--btnOutset);
}
.panier-icon>img{
    width: 40px;
}
.panier-icon:hover{
    cursor: pointer;
}


