
.book-exit{
    display: block;
    width: 40px;
    height: 3px;
    background-color: var(--colorLight);
    transform: rotate(45deg);
}
.book-exit:after{
    display: block;
    height: 3px;
    content: "";
    background-color: var(--colorLight);
    transform: rotate(90deg);
}
.book-exit:hover{
    cursor: pointer;
}